#experience {
  background: var(--primary-color);
  padding-bottom: 60px;
  scroll-margin-top: 7em;
}

.experience-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.experience-content img {
  width: 450px;
  height: auto;
}

#logo-ambev {
  padding-right: 40px;
  padding-left: auto;
}

#logo-benner {
  padding-left: 40px;
  padding-right: auto;
}

.experience-years {
  font: 500 2rem/1.1 "Prompt", sans-serif;
  color: #696969;
  letter-spacing: 1.4px;
  text-align: center;
  padding-top: 20px;
}

.experience-years span {
  font-weight: 700;
  font-size: 1.7rem;
  text-align: center;
}

@media (max-width: 900px) {
  #logo-ambev {
    padding-right: 0;
    padding-left: auto;
  }
  
  #logo-benner {
    padding-left: 0;
    padding-right: auto;
  }
}

@media (max-width: 800px) {
  .experience-img {
    margin-top: 40px;
  }
  .experience-years span {
    font-size: 1.4rem;
  }

  .experience-years {
    font-size: 1.8rem;
  }
}

@media (max-width: 600px) {
  .experience-img {
    max-width: 400px;
  }
  .experience-years span {
    font-size: 1.2rem;
  }

  .experience-years {
    font-size: 1.4rem;
  }
}

@media (max-width: 400px) {
  .experience-img {
    max-width: 320px;
  }

  .experience-years span {
    font-size: 1rem;
  }

  .experience-years {
    font-size: 1rem;
  }
}
